/* Estilo para o header e footer */

header, footer {
    background-color: #333; /* Cor do fundo */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
}

header nav ul {
    padding: 0; /* Remove o espaçamento interno */
}

header nav ul li {
    display: inline; /* Mostra os itens da lista em linha */
    margin-right: 10px; /* Espaçamento à direita dos itens */
}

header nav ul li a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
}

header nav ul li a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o cursor */
}



/* Estilo para a seção principal */

section {
    display: flex; /* Usa flexbox para organizar os elementos */
    justify-content: space-between; /* Espaça os elementos igualmente */
    padding: 20px; /* Espaçamento interno */
}

article {
    flex: 3; /* Define a proporção do espaço ocupado */
    margin-right: 20px; /* Espaçamento à direita */
}

aside {
    flex: 1; /* Define a proporção de espaço ocupado */
}

aside ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove espaçamento interno */
}

aside ul li {
    margin-bottom: 10px; /* Espaçamento inferior dos itens */
}

aside ul li a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: #333; /* Cor do texto dos links */
}

aside ul li a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o cursor */
}




/* Estilo para o formulário de contato */

.contact-form {
    display: flex; /* Usa flexbox para organizar os elementos */
    flex-direction: column; /* Organiza os elementos em coluna */
}

.contact-form label {
    margin-top: 10px; /* Espaçamento superior dos rótulos */
}

.contact-form input,
.contact-form textarea {
    padding: 10px; /* Espaçamento interno */
    margin-top: 5px; /* Espaçamento superior */
    border: 1px solid #ccc; /* Borda dos campos */
    border-radius: 5px; /* Bordas arredondadas */
    width: 100%; /* Largura total */
    resize: none; /* Remove a opção de redimensionar */
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #333; /* Cor da borda ao focar */
    outline: none; /* Remove contorno padrão */
}

.contact-form button {
    margin-top: 10px; /* Espaçamento superior */
    padding: 10px; /* Espaçamento interno */
    background-color: #333; /* Cor do fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
}

.contact-form button:hover {
    background-color: #555; /* Cor do fundo ao passar o cursor */
}
